
/*Arreglando tipografia slider*/

.carousel-caption h1{
	font-size:$font-tamanoGrande;
	margin-top: 100px;
		h5{
			font-family: $font_Reboto;
			font-size: 20px;
			

		}
}
//---------------------------
.cajaFlotante{
	position:absolute;
	z-index: 999;
	box-shadow: 2px 2px 5px #999;
	width: 100%;
	margin-top:-70px;
	background: #FFF;
}

.cajaflotante__texto{
	margin-top: 1em;
	padding:10em;
	text-align: center;
	display:flex;
	align-items:center;
	color: $plomo;
}

.fa{
	display:flex;
	justify-content:center;
	margin-top:-1em;
}

.cajaflotante__texto__parrafo{
	text-align: center;
	color: $plomo;
}