.my-nav{
	position: absolute;
	top:30px;
	width:100%;
	z-index:999;
	background:none;
	border: 0;
	border-radius: 0;
}
.my-carro{
	position: absolute;
	top: 0;

}

.photosSlider{
	display: inline-block;
	background-repeat:no-repeat 
}

.tales {  // Es una clase de la imagen para medir el tamaño de ancho.
  width: 100%;
}
.carousel-inner{     // clase del div que envuelve , mis imagenes.manejo el ancho y alto. 
  width:100%;
  max-height: 580px !important;
}