$font_Reboto:'Roboto', sans-serif;
$font_letraGrande:'Anton', sans-serif;
$font_letraClara:'Rajdhani', sans-serif;
$colorNegro:#000;
$colorBlanco:#fff;
$Dimensiones:100%;
$posicionAtras: relative;
$posicionAdelante: absolute;
$transparencia: transparent;
$superpone_Atras: -1;
$superpone_Adelante: 1;
$colorRosado: #E91E63;
$font-tamanoGrande:80px; 
$plomo: #9F9F9F;

