$font_Reboto:'Roboto', sans-serif;
$font_letraGrande:'Anton', sans-serif;
$font_letraClara:'Rajdhani', sans-serif;
$color_negro:#000;
$ancho_maximo:100%;
$altoMaximo: 100%;
$posicionAtras: relative;
$posicionAdelante: absolute;
$transparencia: transparent;
$superpone_Atras: -1;
$superpone_Adelante: 1;

